<div class-"row">
    <h2>会員情報編集</h2>
</div>

<%= form_with model: @customer do |f| %>
    <table>
        <tr>
            <td><%= f.label :name, "ニックネーム" %></td>
            <td><%= f.text_field :name %></td>
        </tr>
        <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td><%= f.text_field :email %></td>
        </tr>
    </table>
    <%= f.submit "編集内容を保存" %>
    <% end %>
    
    <!--<div>-->
    <!--    <%#= link_to "退会する", customers_confirm_path %>-->
    <!--</div>-->