<h1>編集</h1>
<%= form_with model: @map do |f|%>

    <h4>タイトル</h4>
    <%= f.text_field :title %>

    <h4></h4>
    <%= f.text_area :text %>

    <table>タグ</table>
  <ul>
    <% @tags.each do |tag| %>
        <%= f.check_box :tag_ids, { multiple: true, id: "map_tag_ids" }, tag.id, nil %>
        <%= tag.name %>
    <% end %>
  </ul>

<%= f.submit '保存'%>


<%= link_to 'Show', @map %> |
<%= link_to 'Back', maps_path %>


<% end %>
