<div class="container py-2">
  <div class="row mt-2 mb-3 offset-0 text-center">
    <h4 class="p-2 mb-2 bg-light text-dark">編集</h4>
  </div>

  <div class="row">
    <div class="col-10 mx-auto">
      <%= form_with model: @map, class: 'form' do |f| %>
        <div class="form-group">
          <%= f.label :title, class: 'h4' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :text, class: 'h4' %>
          <%= f.text_area :text, class: 'form-control' %>
        </div>


        <div class="field">
         <%= f.label "タグ" %>
         <%= f.text_field :name, value: @map.tags.pluck(:name).join(",") %>
       </div>

        <div class="col">
          <%= f.submit '保存', class: 'btn btn-primary' %>

          <%= link_to '戻る', maps_path, class: 'btn btn-secondary text-white' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <dvi class="col border p-4 rounded bg-light">
      <h5>タグは半角で「,」をつけることで増やすことが可能です。</h5>
    </dvi>
  </div>
</div>
