<!--顧客のマイページと連動-->
<div container>
  <!--ロゴ導入-->
  <script src="https://kit.fontawesome.com/9cb9d691b6.js" crossorigin="anonymous"></script>
  <div class="row">
<h1>Map Details</h1>

<p><strong>住所:</strong> <%= @map.address %></p>
<p><strong>見出し:</strong> <%= @map.title %></p>
<p><strong>説明:</strong> <%= @map.text %></p>
<p>
  <table>Tags:</table>
  <% @map.tags.each do |tag| %>
  <ul style="list-style:none;">
    <li style="display:inline;padding:8px 16px;">#<%= link_to tag.name, root_path %></li>
  </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %>
<%= link_to 'Back', maps_path %>


<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=<%= @map.title %>" target="_blank" rel="noopener">
    <i class="fa-brands fa-twitter" style="color: #1b6ebb;"></i></a>
  </div>

  <div class="row">

  </div>
</div>
