<p id="notice"><%= notice %></p>

<p>
  <strong>G:</strong>
  <%= @rail.g %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @rail.scaffold %>
</p>

<p>
  <strong>Map:</strong>
  <%= @rail.map %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @rail.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @rail.lng %>
</p>

<p>
  <strong>Text:</strong>
  <%= @rail.text %>
</p>

<%= link_to 'Edit', edit_rail_path(@rail) %> |
<%= link_to 'Back', rails_path %>
